*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    width: 100%;
    height: 100vh;
    background: url('/images/Elon_Musk4.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgba(255, 255, 255, 0.7) ;
}
