footer.footer
            div 
                b Contacts: 
            div Facebook: <a href="https://www.facebook.com/groups/elonmusk1/">facebook.com/elonmusk1</a>
            div Twitter: <a href="https://twitter.com/@elonmusk">twitter.com/@elonmusk</a>
            br
            div &copy; 2024 All rights reserved.