//Section 1
section(class="tribute hideR")
            div.quote "I would like to die on Mars. Just not on impact."
            
            div.circle
                img(src="/images/Elon_Musk2.png", alt="")

//Section 2
section(class="tribute2 hideL")
    .content 
        b Meet Elon Musk 
        br
        .
            the visionary entrepreneur reshaping industries and 
            pushing the boundaries of innovation.

//Section 3
section(class="tribute3 hideR")
    .content 
        .title: b Early Life and Education
        br
        ul 
            li Elon Musk was born in South Africa and showed an early interest in technology.
            li He taught himself programming at a young age and moved to Canada for college.
            li Musk studied economics and physics at the University of Pennsylvania.

//Section 4
section(class="tribute3 hideL")
    .content 
        .title: b Entrepreneurial Ventures
        br
        ul 
            li Musk co-founded Zip2, an online city guide, which was later sold for millions.
            li He co-founded X.com, which became PayPal, revolutionizing online payments.
            li Musk founded SpaceX to reduce space transportation costs and enable Mars colonization.
            li He joined Tesla, Inc., as CEO, leading the development of electric vehicles.
            li Musk also founded Neuralink, focused on brain-computer interface technology.
            li Additionally, he founded The Boring Company to alleviate traffic congestion.

//Section 5
section(class="tribute3 hideR")
    .content 
        .title: b Vision and Influence
        br
        ul 
            li Elon Musk is known for his ambitious vision for the future, including colonizing Mars and transitioning to sustainable energy.
            li His work has had a profound impact on industries such as space exploration, automotive, renewable energy, and technology.
            li Musk's entrepreneurial spirit, risk-taking mindset, and relentless drive have inspired millions globally.

//Section 6
section(class="tribute3 hideL")
    .content 
        .title: b Personal Life
        br
        ul 
            li Musk has been married three times and has six children.
            li He is known for his intense work ethic and active presence on social media.

//Section 7
section(class="tribute3 hideR")
    .content 
        .title: b Net Worth
        br
        ul 
            li Musk is one of the wealthiest individuals globally, with a net worth in the hundreds of billions of dollars, primarily tied to the success of Tesla and SpaceX.
            li However, he has indicated that much of his wealth is invested in his companies and focused on advancing long-term goals.
